<!DOCTYPE html>
<html lang="pt-BR">
  
  <head>
    
     <meta charset="UTF-8" />
     <title>sc-pictures</title>
     
     <link rel="stylesheet" type="text/css" href="style.css"/>
     
   </head>
   
   <body>
     
     <div id="gradient">
       <% let a = 0 %>
       <% fls.forEach(function(fl){ %>
       <div class="sep" id="<%= 'sep-' + a++%>">
	 <div class="image" id="<%= 'image-' + a++ %>">
	   <img src="<%= fl %>">
	 </div>
       </div>
       <% }); %>
     </div>

     <script src="script.js"></script>
     
   </body>
   
 </html>

