body {
    margin: 0;
    padding: 0;
}

#gradient {
    background:rgb(102,0,193);
    background:linear-gradient(0deg, rgba(102,0,193,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    padding-top:50vh;
    padding-bottom:40vh;
}

.sep {
    position: relative;
}

.image{
    height:35vh;
    width:fit-content;
    margin:0 auto;
    background-color:#ff8700;
    padding:6px;
    border-radius:8px;
    margin-bottom:15vh;
    position:relative;
}

img {
    display:block;
    max-width:100%;
    max-height:100%;
    border-radius:8px;
}

